/* :root {
  --koperta-width: 600px;
} */
@keyframes heart-fly {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 1;
    }
    100% {
    transform: translateY(-200px) translateX(-2px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

@keyframes heart-fly-9 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 1;
    }
    100% {
    transform: translateY(-230px) translateX(20px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

@keyframes heart-fly-2 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    }
    100% {
    transform: translateY(-300px) translateX(10px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

@keyframes heart-fly-8 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 1;
    }
    100% {
    transform: translateY(-300px) translateX(-10px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}


@keyframes heart-fly-3 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 1;
    }
    100% {
    transform: translateY(-150px) translateX(-15px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

@keyframes heart-fly-7 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 0.6;
    }
    100% {
    transform: translateY(-150px) translateX(15px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

@keyframes heart-fly-4 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 1;
    }
    100% {
    transform: translateY(-230px) translateX(35px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

@keyframes heart-fly-6 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 0.9;
    }
    100% {
    transform: translateY(-230px) translateX(15px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

@keyframes heart-fly-5 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 0.9;
    }
    100% {
    transform: translateY(-300px)  scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}
@keyframes heart-fly-10 {
    0% {
    transform: translateY(0) scale(0.5) rotate(-45deg);
    opacity: 0.5;
    }
    100% {
    transform: translateY(-350px) translateX(-1px) scale(1.5)  rotate(-45deg);
    opacity: 0;
    }
}

.serduszka {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.serce {
    background-color: #AF1740;
    top:-30px;
    display: inline-block;
    width: calc(var(--koperta-width) *0.067);
    aspect-ratio: 1/1;
    margin: 0 calc(var(--koperta-width) *0.0167)px;
    position: absolute;
    transform: rotate(-45deg);
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
} 
.serce::before,
.serce::after {
    content: "";
    background-color: #AF1740;
    border-radius: 50%;
    width: calc(var(--koperta-width) *0.067);
    aspect-ratio: 1/1;
    position: absolute;
}

.serce::before {
    top: calc(var(--koperta-width) * -0.0335);
    left: 0px;
}

.serce::after {
    left: calc(var(--koperta-width) * 0.0335);
    top: 0px;
}

.serce:nth-child(1) {
    animation-name: heart-fly;
    left: calc(var(--koperta-width) * -0.46);
    animation-delay: 1.0s;
  }
  
  .serce:nth-child(2) {
    left: calc(var(--koperta-width) * -0.38);
    animation-name: heart-fly-2;
    top: calc(var(--koperta-width) * -0.1);
  }
  .serce:nth-child(3) {
    left: calc(var(--koperta-width) * -0.28);
    animation-name: heart-fly-3;
    animation-delay: 1.0s;
  }
  
  .serce:nth-child(4) {
    left: calc(var(--koperta-width) * -0.18);
    animation-name: heart-fly-4;
    top:calc(var(--koperta-width) * 0.1);
  }
  
  .serce:nth-child(5) {
    animation-name: heart-fly-5;
    left: calc(var(--koperta-width) * 0.005);
    animation-delay: 1.0s;
    
  }
  
  .serce:nth-child(10) {
    animation-name: heart-fly-10;
    left: calc(var(--koperta-width) * -0.09);
    top:10px;
  }

  .serce:nth-child(6) {
    animation-name: heart-fly-6;
    left: calc(var(--koperta-width) * 0.10);
  }
  .serce:nth-child(7) {
    animation-name: heart-fly-7;
    left: calc(var(--koperta-width) * 0.20);
    animation-delay: 1.0s;

  }
  
  .serce:nth-child(8) {
    animation-name: heart-fly-8;
    left: calc(var(--koperta-width) * 0.30);
  }
  
  .serce:nth-child(9) {
    animation-name: heart-fly-9;
    left: calc(var(--koperta-width) * 0.375);
    animation-delay: 1.0s;

  }
  .tooltip-container {
    position: relative;
  }
  
  .tooltip-element {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
  }
  
  .tooltip-text {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; /* Domyślnie ukryta */
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
  }
  
  .koperta:hover .tooltip-text {
    visibility: visible; /* Pokazuje tooltip po najechaniu */
    opacity: 1; /* Umożliwia płynne pojawienie się */
    top: 50%;
    left: 110%; /* Dostosowanie pozycji w zależności od potrzeb */
    transform: translateY(-50%); /* Wycentrowanie w pionie */
  }
  