@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  min-height: 100dvh;
  background-image: linear-gradient(to right bottom, #eeffe0,#63926d);
  /* cursor: url('./../../../../../../Obrazy/Kursory/Cute\ Pink\ Heart\ Normal\ Select.cur'), auto; */
  cursor: url('./components/Cute\ Pink\ Heart\ Normal\ Select.cur'), auto;
}

.container{
  position: relative;  
  top: 10dvh;
}

.walentynki{
  position: relative;
  /* C:\Users\hanna\OneDrive\Obrazy\Kursory */
  /* cursor: url('./../../../../../../Obrazy/Kursory/Love\ hand\ Normal\ Select\ \(1\).cur'), auto; */
  cursor: url('./components/Love\ hand\ Normal\ Select\ \(1\).cur'), auto;

  animation: up 4s linear infinite;
}
@keyframes up{
  0%, 100% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-30px);
  }
}

:root {
  --koperta-width: 65dvh; /* Domyślna wartość, nadpisana w JS */
}
.koperta {
  position: relative;
  width: var(--koperta-width);
  aspect-ratio: 3 / 2;
  background-color: #ECE8DD;
  border-radius: 2%;
  box-shadow: 0px 0px 0px 1px 20px rgba(0, 0, 0, 0.142);
}

.koperta::before{
  background-color:#ECE8DD;
  content: "";
  position: absolute;
  width: 71%;
  height:107%;
  transform: rotateX(180deg) rotate(45deg);
  top: -52%;
  left: 14.45%;
  border-radius: 10% 0 0 0 ;
  animation-iteration-count: 1;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 100%);
  z-index: 6; 
}
.koperta.zamknieta::before{
  animation: zamknijList 1s ease forwards;
  z-index: 5;
}

.koperta.otwarta::before {
  transform: rotateX(180deg) rotate(45deg);
  animation: otworzList 1s ease forwards 1;
}

@keyframes zamknijList {
  0% {
    transform: rotateX(0)rotate(45deg);

  }
  50% {
    transform: rotateX(90deg) rotate(45deg);
  }
  100% {
    transform: rotateX(180deg) rotate(45deg);
  }
}

@keyframes otworzList {
  0% {
    transform: rotateX(180deg)rotate(45deg);
  }
  50% {
    transform: rotateX(90deg) rotate(45deg);
  }
  100% {
    transform: rotateX(0) rotate(45deg);
    z-index: -1;
  }
}

.kartka{
  position: absolute;
  background-color: #f2cbdd;
  width:96%;
  height:85%;
  top: 2.5%;
  left:2%;
  box-shadow: 0 5px 10px rgba(18, 18, 18, 0.4);
  transition: transform 1s ease-in-out;
  border-radius: 2.5%;
}


.kartka::before{
  content: "";
  position: absolute;
  border: 2px solid #ffffff;
  border-style: dotted;
  width:94%;
  height: 92%;
  left:2%;
  top: 3%;
  border-radius: 2.5%;
}
.kartka.brak-animacji {
  transition: none;
}

.kartka.out {
  transform: translateY(-75%); 
}

.kartka.in {
  transform: translateY(0);
}

.tekst {
  position: absolute;
  font-family: 'Caveat', cursive;
  font-size: calc(var(--koperta-width) * 0.04);
  text-align: left;
  top:10%;
  margin-left:7%;
  margin-right:7%;
  color:#191315;
  margin-bottom: 0px;
}

.tytul{
  font-size: calc(var(--koperta-width) * 0.05);
  margin-bottom: calc(var(--koperta-width) * 0.03);
}
.podpis {
  text-align: right;
  margin-top: calc(var(--koperta-width) * 0.01);
  margin-right: calc(var(--koperta-width) *0.07);
  margin-bottom: 5%;
}


.przod {
  position: absolute;
  border-right-width: calc(var(--koperta-width) * 0.6);
  border-right-style: solid;
  border-right-color: #e7dfd0;
  border-top: calc(var(--koperta-width) * 0.325) solid transparent;
  border-bottom: calc(var(--koperta-width) * 0.33) solid transparent;
  aspect-ratio: 3 / 2;
  left:40%;
  top:2.1%;
  z-index: 4;
}

.przod::before{
  position: absolute;
  content: "";
  border-left: calc(var(--koperta-width) * 1.0) solid #F8F4EA;
  border-top: calc(var(--koperta-width) * 0.65) solid transparent;
  left: calc(var(--koperta-width) * -0.4);
  top: calc(var(--koperta-width) * -0.32);
  z-index: 4;
}

.cień {
  position: absolute;
  width: 110%;
  height: 12.5%;
  border-radius:50%;
  background-color: #28041a1b;
  top: calc(var(--koperta-width) * 0.8);
  left: calc(var(--koperta-width) * -0.055);
  z-index: -1;
  animation: scale 4s linear infinite;
}

@keyframes scale{
  0%, 100%{
    transform: scaleX(1);
  }
  50%{
    transform: scaleX(0.7);
  }
}
